extends layout

block content
  body
      h1
        a(href='http://127.0.0.1:3000')
            Music Player
      p beta v1.0.0
      #container.col
        form(action='/api/music/add' method = 'post')
          | song_title:
          br
          input(type='text', name='song_title', value='')
          br
          |       artist:
          br
          input(type='text', name='artist', value='')
          br
          |       length
          br
          input(type='text', name='length', value='')
          br
          |       song_count
          br
          input(type='text', name='song_count', value='')
          br
          |       video
          br
          input(type='text', name='video', value='')
          br
          input(type='submit', value='Submit')
      .col2
            form(action='/api/music/album/' method = 'get')
              | album_title:
              br
              input(type='text', name='album_title', value='')
              br
              input(name='search', type='submit', value='Submit')
            form(action='/api/music/songs/' method = 'get')
              | song_title:
              br
              input(type='text', name='song_title', value='')
              br
              input(name='search', type='submit', value='Submit')
      .col3
              form(action='/api/music/album/' method = 'get')
                | DELETE:
                br
                input(type='text', name='album_title', value='')
                br
                input(name='search', type='submit', value='Submit')


      .col4
        each item in data
          p= item.id
          p= item.album_title
          p= item.song_title
          p= item.artist
          iframe(width='420', height='315', src= item.video frameborder="0" allowfullscreen)
