body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

html{
  background: url(http://i.imgur.com/b9r5sEL.jpg);
}
.col{
    display: -webkit-flex;
    display: flex;
    width: 300px;
    height: 200px;
    background-color: lightgrey;
    BORDER-STYLE: solid;
    border-color: black;
}
.col2{
  display: -webkit-flex;
  display: flex;
  width: 300px;
  height: 75px;
  background-color: lightgrey;
  BORDER-STYLE: solid;
  border-color: black;
}
.col3{
  display: -webkit-flex;
  display: flex;
  width: 300px;
  height: 75px;
  background-color: lightgrey;
  BORDER-STYLE: solid;
  border-color: black;
}
/*.col4{
  display: -webkit-flex;
  display: flex;
  width: 300px;
  height: 750px;
  background-color: lightgrey;
  BORDER-STYLE: solid;
  border-color: black;
}*/

h1{

}

p{

}

form{

}
